.todo-form {
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  height: 40%;
  font-size: 2rem;
  padding: 20px 20px;
}

.todo-input,
.todo-btn {
  border: none;
  outline: none;
  padding: 0;

  height: 7vh;
  background: var(--dark-todo-color);
}

.todo-input {
  width: 50%;
  font-size: 2rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: var(--dark-color);
  padding-left: 15px;
}

.todo-btn {
  width: 5%;
  padding: 10px;
  font-size: 1rem;
  color: var(--dark-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.todo-btn:hover {
  background-color: var(--dark-todo-color);
  color: var(--light-color);
}
