.todo-form {
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  height: 40%;
  font-size: 2rem;
}

.todo-input {
  border: none;
  outline: none;
}

.todo-btn {
  border: none;
  outline: none;
}
