:root {
  --light-color: #fff;
  --dark-color: #1e1e1f;
  --light-todo-color: #77b45fc7;
  --dark-todo-color: #72fa56;

  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-todo-color);
  font-family: Arial, Helvetica, sans-serif;
}
