:root {
  --light-color: #fff;
  --dark-color: #1a2130;
  --light-todo-color: #77b45fc7;
  --dark-todo-color: #72fa56;

  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}
